body{
    background-color: #483D8B !important;
    
}

.textoTitulo{
    color: #6959CD !important;
    text-decoration:none;
}
.textoTitulo:hover{
    color: #483D8B !important;
}

.colorCard{
    background-color: #fff;
    border-radius: 15px;
}

.containerBotoes{
    margin-top: 75px;
  margin-left: 28px;
  font-size: 40px;
  
    
   
}

.containerBotoesFuncionario{
    margin-top: 20px;
}

.colorBotoes{
    background-color: #6A5ACD !important;
    color: #fff !important;
    font-size: 20px !important;
}

.hoverBotoes:hover{
    background-color: #fff !important;
    color: #6A5ACD !important;
}
.itemBotaoAgendamento{
    background-color: #483D8B !important;
    color: #ccc !important;
    border-color: #ccc !important;
    border-radius: 10px !important;
    margin-left: 150px;
}

.itemBotaoAgendamento:hover{
    background-color: #9198e5 !important;
    color: #000000 !important;
    border-color: #6A5ACD;
}

.ajusteTitulo{
    margin-top:200px;
}

.colorLigth{
    color: #fff !important; 
}

.alinhaEsquerda{
    margin-left: 1300px;
}

.ajustaBotoesFuncionarios{
    margin-left: 420px;
    font-size: 40px;
}



.text-center {
    text-align: center
}


.tamanhoPadraoForm
 {
    position: relative;
    min-height: 1px;
    padding-right: 350px;
    padding-left: 350px
}


.tamanhoPadraoInput {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 6px;
  
}

#ajusteTitulo{
    margin-left: 2040px !important;
}

.navbar-brand:focus,
.navbar-brand:hover {
    text-decoration: none
}

.sizeTitulosCheckBox{
  
    border-radius: 50px !important;
}

#cardAgendamento{
    margin-top: 150px;
   margin-left: 700px;
}

.bordaColorida{
    background-color: #9198e5 !important;
}

.itemCardAgendamento{
    font-size: 25px;
}

.tituloCardAgendamento{
    font-size: 35px; 
    
    text-align: center; 
    color: blueviolet !important;
}

#cardTutor{
    background-color: #6959CD;
   
    border-radius: 10px;
}
.alinharTitulo{
    text-align: center;
}

#tituloCheckBox{
    margin-left: 200px;
}

.cardAgendamentoServico{
    border-radius: 15px;
}
