<mat-card class="example-card">
    <mat-card-header>
        <mat-card-title class="text-bg-dark">Shiba Inu</mat-card-title>
        <mat-card-subtitle class="text-bg-dark">Dog Breed</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <p class="text-bg-dark">This card indeterminates progress bar.</p>
        <p class="text-bg-dark">{{longText}}</p>
    </mat-card-content>
    <mat-card-actions>
        <button mat-button class="text-bg-dark">LIKE</button>
        <button mat-button class="text-bg-dark">SHARE</button>
    </mat-card-actions>
</mat-card>