body{
    background-color: #483D8B !important;
}

.textoTitulo{
    color: #6A5ACD !important;
}
.colorBotoes{
    background-color: #6A5ACD !important;
    color: #fff !important;
    font-size: 20px !important;
}

.corTexto{
    color: #483D8B !important;
}
.colorBotoes:hover{
    background-color: #fff !important;
    color: #6A5ACD !important;
}


.colorLigth{
    color: #fff !important; 
}

.colorRosa{
    color: #EE82EE; 
}


.alinhaMeioTela{
    margin-top: 200px;
}

.alinhaItens{
    margin-top: 150px;
}

.ajusteTamanhos{
    font-size: 21px;
}

.alinhaEsquerda{
 margin-left: 150px;
}

.tituloAgendamento{
    font-size: 25px;
    text-align: center;
    color: #483D8B !important;
}