<nav class="navbar bg-dark navbar-expand-lg bg-body-tertiary" data-bs-theme="dark">
    <div class="container-fluid">
        <a class="navbar-brand textoTitulo text-bg-dark " href="#">
            Cat

            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart-fill"
                viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314" />
            </svg>

            Dog
        </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link textoTitulo text-bg-dark" aria-current="page" href="/Welcome">
                        Página Inicial
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link textoTitulo text-bg-dark" aria-current="page" href="/Clients">
                        Clientes
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link textoTitulo text-bg-dark" aria-current="page" href="/Agendamentos">
                        Agendar Serviços
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link textoTitulo text-bg-dark" aria-current="page" href="/Cadastro">
                        Cadastro
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>